input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
div, table, h1{
  display: grid;
  place-items: center;
}

td input{
  width: 30px;
  height: 30px;
  background-color: #B7E4C7;
  border-radius: 5px;
  text-align: center;
}
