input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
div,
table,
h1 {
  display: grid;
  place-items: center;
}

label {
  font-size: 110%;
}

td input {
  width: 3vw;
  height: 3vw;
  border-radius: 5px;
  background-color: #d8f3dc;
  text-align: center;
}
.inputOutputValues input {
  background-color: #d8f3dc;
  border-radius: 5px;
  text-align: center;
}

td input.highlighted {
  background-color: green;
}

#calculationButtons {
  display: inline;
  justify-content: center;
}
.columnButtonAndOutput {
  display: flex;
  flex-direction: column; /* Ustawia elementy w pionie */
  align-items: center;
}
button {
  color: #d8f3dc;
  height: 115%;
  font-size: 95%;
  background-color: #1b4332;
  border-radius: 8px;
  margin: 5px 0 5px 0;
}
button:hover {
  background-color: #52b788;
}

#nSteps{
  width: 30px;
  height: 30px;
  background-color: #B7E4C7;
  border-radius: 5px;
  text-align: center;

}
