<mat-drawer-container class="example-container">
  <mat-drawer #drawer mode="side" class="sidebar" [opened]="sidebarOpened">
    <h2>Configuration</h2>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Settings</mat-panel-title>
        <mat-icon>settings</mat-icon>
      </mat-expansion-panel-header>
      <form class="settings">
        <mat-form-field>
          <mat-select
            placeholder="Line Curve Interpolation"
            [ngModel]="curveType"
            (ngModelChange)="setInterpolationType($event)"
            name="curve"
          >
            <mat-option
              *ngFor="let curveType of interpolationTypes"
              [value]="curveType"
            >
              {{ curveType }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-checkbox [(ngModel)]="panOnZoom" name="panOnZoom"
        >Pan while zooming</mat-checkbox
        >

        <mat-checkbox [(ngModel)]="autoZoom" name="autoZoom"
        >Auto Zoom
        </mat-checkbox>

        <mat-checkbox [(ngModel)]="autoCenter" name="autoCenter"
        >Auto Center
        </mat-checkbox>
      </form>
    </mat-expansion-panel>
    <div class="button-container">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <button mat-raised-button color="primary" class="button" (click)="addNode()">
            Create Node
          </button>
          <button mat-raised-button color="primary" class="button" (click)="addEdge()">
            Create Edge
          </button>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
        <button mat-stroked-button color="primary" class="button" (click)="update$.next(true)">
          Update
        </button>
        </div>
        <div class="col-md-4">
          <button mat-stroked-button color="primary" class="button" (click)="center$.next(true)">
            Center
          </button>
        </div>
        <div class="col-md-4">
          <button mat-stroked-button color="primary" class="button" (click)="zoomToFit$.next(true)">
            Zoom to fit
          </button>
        </div>
      </div>
    </div>
    <app-matrix-edit
      (nodesUpdated)="updateNodes($event)"
      (linksUpdated)="updateLinks($event)">
    </app-matrix-edit>
  </mat-drawer>
  <mat-drawer-content>
    <div class="page">
      <ngx-graph
        [links]="links"
        [nodes]="nodes"
        [clusters]="clusters"
        [layout]="layout"
        [curve]="curve"
        [draggingEnabled]="draggingEnabled"
        [panningEnabled]="panningEnabled"
        [enableZoom]="zoomEnabled"
        [zoomSpeed]="zoomSpeed"
        [minZoomLevel]="minZoomLevel"
        [maxZoomLevel]="maxZoomLevel"
        [panOnZoom]="panOnZoom"
        [autoZoom]="autoZoom"
        [autoCenter]="autoCenter"
        [update$]="update$"
        [center$]="center$"
        [zoomToFit$]="zoomToFit$"
        [layoutSettings]="{
          orientation: 'LR',
          marginX: 5,
          marginY: 5,
          edgePadding: 100,
          rankPadding: 20,
          nodePadding: 5,
          multigraph: true,
          compound: true,
        }"
      >
        <ng-template #defsTemplate>
          <svg:marker
            id="arrow"
            viewBox="0 -5 10 10"
            refX="8"
            refY="0"
            markerWidth="4"
            markerHeight="4"
            orient="auto"
          >
            <svg:path d="M0,-5L10,0L0,5" class="arrow-head" />
          </svg:marker>
        </ng-template>

        <ng-template #clusterTemplate let-cluster>
          <svg:g class="node cluster">
            <svg:rect
              rx="5"
              ry="5"
              [attr.width]="cluster.dimension.width"
              [attr.height]="cluster.dimension.height"
              [attr.fill]="cluster.data.color"
            />
          </svg:g>
        </ng-template>

        <ng-template #nodeTemplate let-node>
          <svg:g
            class="node"
            (click)="onNodeClick(node)"
            (dblclick)="onNodeDoubleClick(node)"
            (mouseenter)="onNodeMouseEnter(node)"
            (mouseleave)="onNodeMouseLeave(node)"
            (dragstart)="onDraggingStart($event)"
            (dragend)="onDraggingEnd($event)"
          >
            <svg:circle
              [attr.cx]="node.dimension.width/2"
              [attr.cy]="node.dimension.height/2"
              [attr.r]="Math.max(node.dimension.width, node.dimension.height) / 2"
              [attr.fill]="node.data.color"
              [attr.stroke]="node.data.hover ? 'green' : 'none'"
              stroke-width="3"
            />
            <svg:text
              alignment-baseline="central"
              [attr.x]="10"
              [attr.y]="node.dimension.height / 2"
            >
              {{ node.label }}<tspan baseline-shift="sub" [innerHTML]="node.id"></tspan>
            </svg:text>
          </svg:g>
        </ng-template>

        <ng-template #linkTemplate let-link>
          <svg:g class="edge" (dblclick)="onEdgeDoubleClick(link)">
            <svg:path
              class="line"
              [attr.stroke-width]="getLineWidth(link.label)"
              marker-end="url(#arrow)"
            ></svg:path>
            <svg:text class="edge-label" text-anchor="middle">
              <textPath
                class="text-path"
                [attr.href]="'#' + link.id"
                [style.dominant-baseline]="link.dominantBaseline"
                startOffset="50%"
              >
                {{ link.label }}
              </textPath>
            </svg:text>
          </svg:g>
        </ng-template>
      </ngx-graph>
    </div>
    <div
      *ngIf="selectedNode"
      [ngStyle]="{
        position: 'absolute',
        'left.px': selectedNode.position.x - 100,
        'top.px': selectedNode.position.y - 40
      }"
    >
      <input
        type="text"
        [(ngModel)]="selectedNode.label"
        (blur)="selectedNode = null"
      />
    </div>
    <div
      *ngIf="selectedEdge"
      [ngStyle]="{
        position: 'absolute',
        'left.px': selectedEdge.midPoint.x,
        'top.px': selectedEdge.midPoint.y
      }"
    >
      <input
        type="text"
        [(ngModel)]="selectedEdge.label"
        (blur)="selectedEdge = null"
      />
    </div>
  </mat-drawer-content>
</mat-drawer-container>
