<mat-drawer-container class="example-container">
  <mat-drawer #drawer mode="side" class="sidebar" [opened]="sidebarOpened">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Settings</mat-panel-title>
        <mat-icon>settings</mat-icon>
      </mat-expansion-panel-header>
      <form class="settings">
        <mat-form-field color="primary">
          <mat-select
            placeholder="Line Curve Interpolation"
            [ngModel]="curveType"
            (ngModelChange)="setInterpolationType($event)"
            name="curve"
          >
            <mat-option
              *ngFor="let curveType of interpolationTypes"
              [value]="curveType"
            >
              {{ curveType }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-checkbox [(ngModel)]="panOnZoom" name="panOnZoom"
          >Pan while zooming</mat-checkbox
        >

        <mat-checkbox [(ngModel)]="autoZoom" name="autoZoom"
          >Auto Zoom
        </mat-checkbox>

        <mat-checkbox [(ngModel)]="autoCenter" name="autoCenter"
          >Auto Center
        </mat-checkbox>
      </form>
    </mat-expansion-panel>
    <div class="button-container">
      <!--<div class="row">
        <div class="col">
          <button mat-raised-button color="primary" class="button btn btn-primary btn-block" (click)="onCreateNodeClick()">
            Create Node
          </button>
        </div>
        <div class="col">
          <button mat-raised-button color="primary" class="button btn btn-primary btn-block" (click)="onCreateEdgeClick()">
            Create Edge
          </button>
        </div>
        <div class="col">
          <button mat-raised-button color="primary" class="button btn btn-primary btn-block" (click)="getNodesAndEdges()">
            Get Matrix
          </button>
        </div>
      </div>-->

      <div class="row row-cols-auto">
        <div class="col">
          <button
            mat-raised-button
            color="primary"
            class="button"
            (click)="updateGraph()"
          >
            Update
          </button>
        </div>
        <div class="col">
          <button
            mat-raised-button
            color="primary"
            class="button"
            (click)="zoomToFit()"
          >
            Zoom to fit
          </button>
        </div>
        <div class="col">
          <button
            mat-raised-button
            color="primary"
            class="button"
            (click)="centerGraph()"
          >
            Center
          </button>
        </div>

      </div>
    </div>
    <app-matrix-edit (graphUpdated)="updateGraphData()"> </app-matrix-edit>
  </mat-drawer>
  <mat-drawer-content>
    <div class="page">
      <app-graph
        [graph]="this.graph"
        [panOnZoom]="panOnZoom"
        [autoZoom]="autoZoom"
        [autoCenter]="autoCenter"
      >
      </app-graph>
    </div>
    <div
      *ngIf="selectedNode"
      [ngStyle]="{
        position: 'absolute',
        'left.px': selectedNode.position.x,
        'top.px': selectedNode.position.y
      }"
    >
      <input
        type="text"
        [(ngModel)]="selectedNode.label"
        (blur)="selectedNode = null"
      />
    </div>
    <div
      *ngIf="selectedEdge"
      [ngStyle]="{
        position: 'absolute',
        'left.px': selectedEdge.midPoint.x,
        'top.px': selectedEdge.midPoint.y
      }"
    >
      <input
        type="text"
        [(ngModel)]="selectedEdge.label"
        (blur)="selectedEdge = null"
      />
    </div>
    <div class="simulation_button">
      <button *ngIf="!SimulationIsExpanded" (click)="toggleSimulation()"><img src="assets/buttons/menu.png" alt="Next step"/></button>
    </div>
    <div class="simulation" [ngClass]="{ 'expanded': SimulationIsExpanded }">
      <button (click)="nextStateClicked()">
        <img src="assets/buttons/next_step.png" alt="Next step"/>
      </button>
      <button (click)="toggleAutoStep()">
        <img [src]="autoStepActive ? 'assets/buttons/pause_auto_step.png' : 'assets/buttons/auto_step.png'"
             alt="automatic"/>
      </button>
      <input id="range" type="range" name="points" min="1" max="10" value="1" (input)="updateSpeed($event)">
    </div>

  </mat-drawer-content>
</mat-drawer-container>
