<mat-drawer-container class="example-container">
  <mat-drawer #drawer mode="side" class="sidebar" [opened]="sidebarOpened">
    <h2>Configuration</h2>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Settings</mat-panel-title>
        <mat-icon>settings</mat-icon>
      </mat-expansion-panel-header>
      <form class="settings">
        <mat-form-field>
          <mat-select
            placeholder="Line Curve Interpolation"
            [ngModel]="curveType"
            (ngModelChange)="setInterpolationType($event)"
            name="curve"
          >
            <mat-option
              *ngFor="let curveType of interpolationTypes"
              [value]="curveType"
            >
              {{ curveType }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-checkbox [(ngModel)]="panOnZoom" name="panOnZoom"
        >Pan while zooming</mat-checkbox
        >

        <mat-checkbox [(ngModel)]="autoZoom" name="autoZoom"
        >Auto Zoom
        </mat-checkbox>

        <mat-checkbox [(ngModel)]="autoCenter" name="autoCenter"
        >Auto Center
        </mat-checkbox>
      </form>
    </mat-expansion-panel>
    <div class="button-container">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <button mat-raised-button color="primary" class="button" (click)="onCreateNodeClick()">
            Create Node
          </button>
          <button mat-raised-button color="primary" class="button" (click)="onCreateEdgeClick()">
            Create Edge
          </button>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
        <button mat-stroked-button color="primary" class="button" (click)="updateGraph()">
          Update
        </button>
        </div>
        <div class="col-md-4">
          <button mat-stroked-button color="primary" class="button" (click)="centerGraph()">
            Center
          </button>
        </div>
        <div class="col-md-4">
          <button mat-stroked-button color="primary" class="button" (click)="zoomToFit()">
            Zoom to fit
          </button>
        </div>
      </div>
    </div>
    <app-matrix-edit
      (nodesUpdated)="updateNodes($event)"
      (linksUpdated)="updateLinks($event)">
    </app-matrix-edit>
  </mat-drawer>
  <mat-drawer-content>
    <div class="page">
      <app-graph></app-graph>
    </div>
    <div
      *ngIf="selectedNode"
      [ngStyle]="{
        position: 'absolute',
        'left.px': selectedNode.position.x,
        'top.px': selectedNode.position.y
      }"
    >
      <input
        type="text"
        [(ngModel)]="selectedNode.label"
        (blur)="selectedNode = null"
      />
    </div>
    <div
      *ngIf="selectedEdge"
      [ngStyle]="{
        position: 'absolute',
        'left.px': selectedEdge.midPoint.x,
        'top.px': selectedEdge.midPoint.y
      }"
    >
      <input
        type="text"
        [(ngModel)]="selectedEdge.label"
        (blur)="selectedEdge = null"
      />
    </div>
  </mat-drawer-content>
</mat-drawer-container>
