<nav>
  <div>
    <ul id="nav_links">
      <li>
        <a><button>{{'teoria' | translate}}</button></a>
      </li>
      <li>
        <a><button [routerLink]="'graph'">{{'grafy' | translate}}</button></a>
      </li>
      <li>
        <a><button [routerLink]="'matrix'" >{{'macierze' | translate}}</button></a>
      </li>
    </ul>
  </div>
  <select id="language" (change)="ChangeLang($event)" >
    <option [selected]="lang==='pl'" value="pl">Polski</option>
    <option [selected]="lang==='en'" value="en">English</option>
  </select>
</nav>
