<nav>
  <div>
    <ul id="nav_links" class="list-group list-group-horizontal">
      <li *ngIf="this.currentUrl === '/graph'">
        <button (click)="toggleSidebar()" class="menu-button" mat-mini-fab>
          <mat-icon>menu</mat-icon>
        </button>
      </li>
      <li>
        <a><button [routerLink]="'theory'">{{'teoria' | translate}}</button></a>
      </li>
      <li>
        <a><button [routerLink]="'graph'">{{'grafy' | translate}}</button></a>
      </li>
      <li>
        <a><button [routerLink]="'matrix'" >{{'macierze' | translate}}</button></a>
      </li>
    </ul>
  </div>
  <select id="language" (change)="ChangeLang($event)" >
    <option [selected]="lang==='pl'" value="pl">Polski</option>
    <option [selected]="lang==='en'" value="en">English</option>
  </select>
</nav>
